[manifest]
version = "1.0.0"
priority = 0

# Card:start_dissolve()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.E_MANAGER:add_event(Event({
    trigger = 'after',
    blockable = false,
    delay =  1.051*dissolve_time,
}))'''
position = "after"
payload = '''

if G.jokers and self.ability.set == 'Joker' then
    for i=1, #G.jokers.cards do
        eval_card(G.jokers.cards[i], {cardarea = G.jokers, joker_destroyed = true, removed = self})
    end
end'''
match_indent = true
times = 1

# Card:get_chip_mult()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if pseudorandom('lucky_mult') < G.GAME.probabilities.normal/5 then'''
position = "at"
payload = '''if not G.GAME.lucky_cancels and pseudorandom('lucky_mult') < G.GAME.probabilities.normal/5 then'''
match_indent = true
times = 1

# Card:get_p_dollars()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if pseudorandom('lucky_money') < G.GAME.probabilities.normal/15 then'''
position = "at"
payload = '''if not G.GAME.lucky_cancels and pseudorandom('lucky_money') < G.GAME.probabilities.normal/15 then'''
match_indent = true
times = 1

# Card:calculate_joker()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''local card = create_card('Joker', G.jokers, nil, 0, nil, nil, nil, 'rif')
card:add_to_deck()
G.jokers:emplace(card)'''
position = "at"
payload = '''local card = create_card('Joker', G.jokers, nil, 0, nil, nil, nil, 'rif')
card:add_to_deck()
G.jokers:emplace(card, nil, nil, true, false)'''
match_indent = true
times = 1

# Card:use_consumeable()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''local card = create_card('Joker', G.jokers, self.ability.name == 'The Soul', nil, nil, nil, nil, self.ability.name == 'Judgement' and 'jud' or 'sou')
card:add_to_deck()
G.jokers:emplace(card)'''
position = "at"
payload = '''local card = create_card('Joker', G.jokers, self.ability.name == 'The Soul', nil, nil, nil, nil, self.ability.name == 'Judgement' and 'jud' or 'sou')
card:add_to_deck()
G.jokers:emplace(card, nil, nil, true, false)'''
match_indent = true
times = 1

# Card:use_consumeable()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''local card = create_card('Joker', G.jokers, nil, 0.99, nil, nil, nil, 'wra')
card:add_to_deck()
G.jokers:emplace(card)'''
position = "at"
payload = '''local card = create_card('Joker', G.jokers, nil, 0.99, nil, nil, nil, 'wra')
card:add_to_deck()
G.jokers:emplace(card, nil, nil, true, false)'''
match_indent = true
times = 1

# Card:draw()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if (self.edition and self.edition.negative) or (self.ability.name == 'Antimatter' and (self.config.center.discovered or self.bypass_discovery_center)) then'''
position = "at"
payload = '''
if self.ability.make_vortex and (self.config.center.discovered or self.bypass_discovery_center) then
    self.children.center:draw_shader('booster', nil, self.ARGS.send_to_shader)
elseif (self.edition and self.edition.negative) or (self.ability.name == 'Antimatter' and (self.config.center.discovered or self.bypass_discovery_center)) then'''
match_indent = true
times = 1

# Card:explode()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
function Card:explode(dissolve_colours, explode_time_fac)'''
position = "at"
payload = '''
function Card:explode(dissolve_colours, explode_time_fac, keep)'''
match_indent = true
times = 1

# Card:explode()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.E_MANAGER:add_event(Event({
    trigger = 'after',
    blockable = false,
    delay =  0.9*explode_time,
    func = (function()'''
position = "before"
payload = '''
if keep then
    G.E_MANAGER:add_event(Event({
        blockable = false,
        delay = 1.6*explode_time,
        func = (function() 
            if G.TIMERS.TOTAL - start_time > 1.55*explode_time then  
                self.dissolve = 0
                percent = 0
                self.juice = {
                    scale = 0,
                    r = 0,
                    handled_elsewhere = true,
                    start_time = start_time, 
                    end_time = G.TIMERS.TOTAL
                }
                return true 
            end
        end)
    }))
    childParts1:fade()
    return
end'''
match_indent = true
times = 1

