[manifest]
version = "1.0.0"
priority = 0

#
# Patch to pass in the total chips for score calculation during the "after" context
#

# G.FUNCS.evaluate_play()
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''SMODS.calculate_context({full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands, after = true})'''
position = "at"
payload = '''SMODS.calculate_context({full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands, after = true, total_hand_chips = hand_chips*mult})'''
match_indent = true
times = 1


