[manifest]
version = "1.0.0"
priority = 0

# draw_card()
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''local stay_flipped = G.GAME and G.GAME.blind and G.GAME.blind:stay_flipped(to, card)'''
position = "at"
payload = '''local stay_flipped = (G.GAME and G.GAME.blind and G.GAME.blind:stay_flipped(to, card)) or card.joker_force_facedown'''
match_indent = true
times = 1

# change_shop_size()
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''G.shop_jokers:emplace(create_card_for_shop(G.shop_jokers))'''
position = "at"
payload = '''G.shop_jokers:emplace(create_card_for_shop(G.shop_jokers), nil, nil, true, false)'''
match_indent = true
times = 1