[manifest]
version = "1.0.0"
priority = 0

#
# Adds a run tracker for consumables
#

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''reset_idol_card()
reset_mail_rank()'''
position = "before"
payload = '''self.GAME.run_consumeables = {}
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if not copier then set_consumeable_usage(self) end'''
position = "after"
payload = '''if G.GAME.run_consumeables[self.config.center_key] then
    G.GAME.run_consumeables[self.config.center_key] = G.GAME.run_consumeables[self.config.center_key] + 1
else 
    G.GAME.run_consumeables[self.config.center_key] = 1
end
'''
match_indent = true
times = 1


