[manifest]
version = "1.0.0"
priority = 0

#
# Adds the ability to prevent repeats with dynatext
#

# Sprite:draw_Shader()
[[patches]]
[patches.pattern]
target = "engine/text.lua"
pattern = '''self.focused_string = (self.config.random_element and math.random(1, #self.strings)) or self.focused_string ==  #self.strings and 1 or self.focused_string+1'''
position = "at"
payload = '''if self.config.random_element then
    if self.config.random_no_repeat then
        local rand_list = {}
        for i=1, #self.strings do
            if i ~= self.last_focused then
                rand_list[#rand_list + 1] = i
            end
        end

        local select_focus = math.random(1, #rand_list)
        self.focused_string = rand_list[select_focus]
        self.last_focused = self.focused_string
    else
        self.focused_string = math.random(1, #self.strings)
    end
else
    self.focused_string = self.focused_string == #self.strings and 1 or self.focused_string+1
end
'''
match_indent = true
times = 1

