[manifest]
version = "1.0.0"
priority = 0

#
# Sends a context events for when discards, hands, and dollars change
#

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''if not silent then play_sound('chips2') end'''
position = "after"
payload = '''SMODS.calculate_context({change_discards = true})'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''--Popup text next to the chips in UI showing number of chips gained/lost
attention_text({
    text = text..mod,
    scale = 0.8, 
    hold = 0.7,
    cover = hand_UI.parent,
    cover_colour = col,
    align = 'cm',
    })
--Play a chip sound
play_sound('chips2')'''
position = "after"
payload = '''SMODS.calculate_context({change_hands = true})'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''play_sound('coin1')'''
position = "after"
payload = '''SMODS.calculate_context({change_dollars = true})'''
match_indent = true
times = 1
