[manifest]
version = "1.0.0"
priority = 0

#
# Patch for Card:explode to use the explosion effect without destroying the card
#

# Card:explode()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
function Card:explode(dissolve_colours, explode_time_fac)'''
position = "at"
payload = '''
function Card:explode(dissolve_colours, explode_time_fac, keep)'''
match_indent = true
times = 1

# Card:explode()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.E_MANAGER:add_event(Event({
    trigger = 'after',
    blockable = false,
    delay =  0.9*explode_time,
    func = (function()'''
position = "before"
payload = '''
if keep then
    G.E_MANAGER:add_event(Event({
        blockable = false,
        delay = 1.6*explode_time,
        func = (function() 
            if G.TIMERS.TOTAL - start_time > 1.55*explode_time then  
                self.dissolve = 0
                percent = 0
                self.juice = {
                    scale = 0,
                    r = 0,
                    handled_elsewhere = true,
                    start_time = start_time, 
                    end_time = G.TIMERS.TOTAL
                }
                return true 
            end
        end)
    }))
    childParts1:fade()
    return
end'''
match_indent = true
times = 1



