[manifest]
version = "1.0.0"
priority = 100

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "_pool[#_pool + 1] = v.key"
position = "before"
payload = '''
if G.GAME.selected_back and G.GAME.selected_back.effect.center.key == "b_fnwk_fanworks" then
    local rate = G.GAME.selected_back.effect.config.extra - 1
    if string.sub(v.key, 1, 6) == 'j_fnwk' then
        for i=1, rate do
            _pool[#_pool + 1] = v.key
            _pool_size = _pool_size + 1
        end
    end
end
'''
match_indent = true