[manifest]
version = "1.0.0"
priority = 0

#
# Adds global resets for funkadelic joker similar to ancient, idol, etc
#

# Game:start_run()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''reset_idol_card()'''
position = "before"
payload = '''reset_funkadelic()
reset_infidel()'''
match_indent = true
times = 1

# end_round()
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''reset_idol_card()'''
position = "before"
payload = '''reset_funkadelic()
reset_infidel()'''
match_indent = true
times = 1