[manifest]
version = "1.0.0"
priority = 0

# Game:update_shop()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
for i = 1, #G.GAME.tags do
    G.GAME.tags[i]:apply_to_run({type = 'shop_final_pass'})
end'''
position = "at"
payload = '''
for i = 1, #G.GAME.tags do
    G.GAME.tags[i]:apply_to_run({type = 'shop_final_pass'})
end
SMODS.calculate_context({start_shop = true})
'''
match_indent = true
times = 1

# Game:start_run()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''reset_idol_card()'''
position = "before"
payload = '''reset_funkadelic()'''
match_indent = true
times = 1

# Game:update_shop()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''G.shop_jokers:emplace(create_card_for_shop(G.shop_jokers))'''
position = "at"
payload = '''G.shop_jokers:emplace(create_card_for_shop(G.shop_jokers), nil, nil, true, false)'''
match_indent = true
times = 1

