[manifest]
version = "1.0.0"
priority = 0

#
# Adds the ability to enter images into jimbo speech bubbles
#

# G.UIDEF.speech_bubble()
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''for k, v in ipairs(text) do
  row[#row+1] =  {n=G.UIT.R, config={align = "cl"}, nodes=v}
end'''
position = "at"
payload = '''for k, v in ipairs(text) do
    local node = v
    if loc_vars and loc_vars.image and ArrowAPI.string.ends_with(node[1].config.text, '[IMG]') then
        node[1].config.text = string.sub(node[1].config.text, 1, #node[1].config.text - 5)
        local img_atlas = G.ASSET_ATLAS[loc_vars.image]
        node[2] = {
            n = G.UIT.O,
            config = {object = Sprite(
                0,
                0,
                0.5,
                0.5,
                img_atlas,
                {x = 0, y = 0}
            )}
        }
    end
    row[#row+1] =  {n=G.UIT.R, config={align = "cl"}, nodes=node}
end'''
match_indent = true
times = 1