[manifest]
version = "1.0.0"
priority = 0

#
# Adds the ability to enter images into jimbo speech bubbles
#

# G.UIDEF.speech_bubble()
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''for k, v in ipairs(text) do
  row[#row+1] =  {n=G.UIT.R, config={align = "cl"}, nodes=v}
end'''
position = "at"
payload = '''sendDebugMessage('num text entries: '..#text)
for k, v in ipairs(text) do
    local node = v
    if loc_vars.image and StringEndsWith(node[1].config.text, '[IMG]') then
        node[1].config.text = string.sub(node[1].config.text, 1, #node[1].config.text - 5)
        local img_atlas = G.ASSET_ATLAS[loc_vars.image]
        node[2] = {
            n = G.UIT.O,
            config = {object = Sprite(
                0,
                0,
                0.5,
                0.5,
                img_atlas,
                {x = 0, y = 0}
            )}
        }
    end
    row[#row+1] =  {n=G.UIT.R, config={align = "cl"}, nodes=node}
end'''
match_indent = true
times = 1


# win_game()
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''Jimbo:add_speech_bubble('wq_'..math.random(1,7), nil, {quip = true})'''
position = "at"
payload = '''if next(SMODS.find_card('j_fnwk_fanworks_jogarc', true)) then
    Jimbo.children.card.config.center.atlas = 'fnwk_fanworks_jogarc'
    Jimbo.children.card:set_sprites(Jimbo.children.card.config.center)
    Jimbo:add_speech_bubble('gwq_'..math.random(1,12), nil, {quip = true, image = 'fnwk_100'})
else
    Jimbo:add_speech_bubble('wq_'..math.random(1,7), nil, {quip = true})
end'''
match_indent = true
times = 1

# Game:update_game_over(dt)
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''Jimbo:add_speech_bubble('lq_'..math.random(1,10), nil, {quip = true})'''
position = "at"
payload = '''if next(SMODS.find_card('j_fnwk_fanworks_jogarc', true)) then
    Jimbo.children.card.config.center.atlas = 'fnwk_fanworks_jogarc'
    Jimbo.children.card:set_sprites(Jimbo.children.card.config.center)
    Jimbo:add_speech_bubble('glq_'..math.random(1, 12), nil, {quip = true})
else
    Jimbo:add_speech_bubble('lq_'..math.random(1,10), nil, {quip = true})
end'''
match_indent = true
times = 1