[manifest]
version = "1.0.0"
priority = 10

#
# Patches jokers that use inconsistent "Xmult" property
#

# Card:set_ability()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if self.ability.name == "Invisible Joker" then 
    self.ability.invis_rounds = 0
end'''
position = "at"
payload = ''''''
match_indent = true
times = 1

# init_item_prototypes()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''j_invisible=        {order = 137,  unlocked = false, discovered = false, blueprint_compat = false, perishable_compat = true, eternal_compat = false, rarity = 3, cost = 8, name = "Invisible Joker", pos = {x=1,y=7}, set = "Joker", effect = "", config = {extra = 2}, unlock_condition = {type = 'win_custom'}},'''
position = "at"
payload = '''j_invisible=        {order = 137,  unlocked = false, discovered = false, blueprint_compat = false, perishable_compat = true, eternal_compat = false, rarity = 3, cost = 8, name = "Invisible Joker", pos = {x=1,y=7}, set = "Joker", effect = "", config = {extra = { invis_rounds = 0, num_rounds = 2}}, unlock_condition = {type = 'win_custom'}},'''
match_indent = true
times = 1

# Card:generate_UIBox_ability_table()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''elseif self.ability.name == 'Invisible Joker' then loc_vars = {self.ability.extra, self.ability.invis_rounds}'''
position = "at"
payload = '''elseif self.ability.name == 'Invisible Joker' then loc_vars = {self.ability.extra.num_rounds, self.ability.extra.invis_rounds}'''
match_indent = true
times = 1

# Card:calculate_joker()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if self.ability.name == 'Invisible Joker' and (self.ability.invis_rounds >= self.ability.extra) and not context.blueprint then'''
position = "at"
payload = '''if self.ability.name == 'Invisible Joker' and (self.ability.extra.invis_rounds >= self.ability.extra.num_rounds) and not context.blueprint then'''
match_indent = true
times = 1

# Card:calculate_joker()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if card.ability.invis_rounds then card.ability.invis_rounds = 0 end'''
position = "at"
payload = '''if card.ability.extra.invis_rounds then card.ability.extra.invis_rounds = 0 end
self.ability.extra.invis_rounds = 0'''
match_indent = true
times = 1

# Card:calculate_joker()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''self.ability.invis_rounds = self.ability.invis_rounds + 1
if self.ability.invis_rounds == self.ability.extra then 
    local eval = function(card) return not card.REMOVED end
    juice_card_until(self, eval, true)
end
return {
    message = (self.ability.invis_rounds < self.ability.extra) and (self.ability.invis_rounds..'/'..self.ability.extra) or localize('k_active_ex'),
    colour = G.C.FILTER
}'''
position = "at"
payload = '''self.ability.extra.invis_rounds = self.ability.extra.invis_rounds + 1
if self.ability.extra.invis_rounds == self.ability.extra.num_rounds then 
    local eval = function(card) return not card.REMOVED end
    juice_card_until(self, eval, true)
end
return {
    message = (self.ability.extra.invis_rounds < self.ability.extra.num_rounds) and (self.ability.extra.invis_rounds..'/'..self.ability.extra.num_rounds) or localize('k_active_ex'),
    colour = G.C.FILTER
}'''
match_indent = true
times = 1


