[manifest]
version = "1.0.0"
priority = 0

#
# Patch for Joker Stencil to work like other jokers whose values are computed at runtimes
#

# Card:calculate_joker()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == "Joker Stencil" then
    if (G.jokers.config.card_limit - #G.jokers.cards) > 0 then
        return {
            message = localize{type='variable',key='a_xmult',vars={self.ability.x_mult}},
            Xmult_mod = self.ability.x_mult
        }
    end
end'''
position = "at"
payload = '''
if self.ability.name == "Joker Stencil" then
    local x_mult = (G.jokers.config.card_limit - #G.jokers.cards)
    for i = 1, #G.jokers.cards do
        if G.jokers.cards[i].ability.name == 'Joker Stencil' then x_mult = x_mult + 1 end
    end
    
    if x_mult > 0 then
        return {
            message = localize{type='variable',key='a_xmult',vars={x_mult}},
            Xmult_mod = x_mult
        }
    end
end'''
match_indent = true
times = 1

# Card:update()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == "Joker Stencil" then 
    self.ability.x_mult = (G.jokers.config.card_limit - #G.jokers.cards)
    for i = 1, #G.jokers.cards do
        if G.jokers.cards[i].ability.name == 'Joker Stencil' then self.ability.x_mult = self.ability.x_mult + 1 end
    end
end'''
position = "at"
payload = ''''''
match_indent = true
times = 1

# Card:generate_UIBox_ability_table()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''elseif self.ability.name == 'Joker Stencil' then loc_vars = {self.ability.x_mult}'''
position = "at"
payload = '''
elseif self.ability.name == 'Joker Stencil' then 
    if not G.jokers then
        loc_vars = { 1 }
    else
        local x_mult = (G.jokers.config.card_limit - #G.jokers.cards)
        for i = 1, #G.jokers.cards do
            if G.jokers.cards[i].ability.name == 'Joker Stencil' then x_mult = x_mult + 1 end
        end
        loc_vars = {x_mult}
    end'''
match_indent = true
times = 1