[manifest]
version = "1.0.0"
priority = 30

# G.FUNCS.evaluate_play()
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''local eval = eval_card(_card, {cardarea = G.jokers, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands, edition = true, pre_joker = true})
if eval.edition then effects[#effects+1] = eval end'''
position = "at"
payload = '''local pre_joker_context = {cardarea = G.jokers, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands, edition = true, pre_joker = true}
local eval = eval_card(_card, pre_joker_context)
if eval.edition then effects[#effects+1] = eval end
SMODS.fnwk_calculate_quantum_editions(_card, effects, pre_joker_context)'''
match_indent = true
times = 1

# G.FUNCS.evaluate_play()
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''local eval = eval_card(_card, {cardarea = G.jokers, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands, edition = true, post_joker = true})
if eval.edition then effects[#effects+1] = eval end'''
position = "at"
payload = '''local post_joker_context = {cardarea = G.jokers, full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands, edition = true, post_joker = true}
local eval = eval_card(_card, post_joker_context)
if eval.edition then effects[#effects+1] = eval end
SMODS.fnwk_calculate_quantum_editions(_card, effects, post_joker_context)'''
match_indent = true
times = 1

# SMODS.calculate_context()
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = '''SMODS.calculate_quantum_enhancements(card, quantum_eval, context)'''
position = "after"
payload = '''SMODS.fnwk_calculate_quantum_editions(card, quantum_eval, context)'''
match_indent = true
times = 1

# SMODS.calculate_context()
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = '''SMODS.calculate_quantum_enhancements(card, effects, context)'''
position = "after"
payload = '''SMODS.fnwk_calculate_quantum_editions(card, effects, context)'''
match_indent = true
times = 3

# SMODS.calculate_context()
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = '''SMODS.calculate_quantum_enhancements(card, return_table, context)'''
position = "after"
payload = '''SMODS.fnwk_calculate_quantum_editions(card, return_table, context)'''
match_indent = true
times = 1