[manifest]
version = "1.0.0"
priority = 0

#
# Adds the ability to flash the screen with a full flash
#

# Game.draw()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''if G.AA_CANVAS then 
    love.graphics.push()
        love.graphics.scale(1/G.CANV_SCALE)
        love.graphics.draw(G.AA_CANVAS, 0, 0)
    love.graphics.pop()
end'''
position = "after"
payload = '''
love.graphics.setCanvas()
love.graphics.scale(G.CANV_SCALE)
love.graphics.setShader()

if G.NEON_FLASH then
    love.graphics.push()
    G.NEON_FLASH:translate_container()
    G.NEON_FLASH:draw()
    love.graphics.pop()
end'''
match_indent = true
times = 1
