[manifest]
version = "1.0.0"
priority = 0

#
# Adds the ability to set a "predict mode" for pseudoseed values
#

# pseudoseed()
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''if predict_seed then 
  local _pseed = pseudohash(key..(predict_seed or ''))
  _pseed = math.abs(tonumber(string.format("%.13f", (2.134453429141+_pseed*1.72431234)%1)))
  return (_pseed + (pseudohash(predict_seed) or 0))/2
end'''
position = "at"
payload = '''if G.GAME.pseudorandom.predict_mode or predict_seed then
    local _pseed = 0
    if not G.GAME.pseudorandom.predict_mode or not G.GAME.pseudorandom.predicts[key] then
        _pseed = pseudohash(key..(predict_seed or G.GAME.pseudorandom.seed or ''))
        G.GAME.pseudorandom.predicts[key] = {
            value = G.GAME.pseudorandom[key] or _pseed,
            pos = 0
        }
    end
    
    if G.GAME.pseudorandom.predict_mode then
        _pseed = math.abs(tonumber(string.format("%.13f", (2.134453429141+G.GAME.pseudorandom.predicts[key].value*1.72431234)%1)))
        G.GAME.pseudorandom.predicts[key].value = _pseed
        G.GAME.pseudorandom.predicts[key].pos = G.GAME.pseudorandom.predicts[key].pos + 1

        return (_pseed + (G.GAME.pseudorandom.hashed_seed or 0))/2
    else 
        _pseed = math.abs(tonumber(string.format("%.13f", (2.134453429141+_pseed*1.72431234)%1)))
        return (_pseed + (pseudohash(predict_seed) or 0))/2
    end
end'''
match_indent = true
times = 1


