[manifest]
version = "1.0.0"
priority = 0

#
# Patch to add an extra shader effect to toggle with an ability property
#

# Card:draw()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if (self.edition and self.edition.negative) or (self.ability.name == 'Antimatter' and (self.config.center.discovered or self.bypass_discovery_center)) then
    self.children.center:draw_shader('negative', nil, self.ARGS.send_to_shader)'''
position = "before"
payload = '''if self.ability.make_vortex and (self.config.center.discovered or self.bypass_discovery_center) then
    self.children.center:draw_shader('booster', nil, self.ARGS.send_to_shader)
end'''
match_indent = true
times = 1

# Card:draw()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if self.ability.name == 'Invisible Joker' and (self.config.center.discovered or self.bypass_discovery_center) then
    self.children.center:draw_shader('voucher', nil, self.ARGS.send_to_shader)
end'''
position = "after"
payload = '''

if self.config.center.discovered and self.ability.glow then
    local cursor_pos = {}
    cursor_pos[1] = self.tilt_var and self.tilt_var.mx*G.CANV_SCALE or G.CONTROLLER.cursor_position.x*G.CANV_SCALE
    cursor_pos[2] = self.tilt_var and self.tilt_var.my*G.CANV_SCALE or G.CONTROLLER.cursor_position.y*G.CANV_SCALE
    local screen_scale = G.TILESCALE*G.TILESIZE*(self.children.center.mouse_damping or 1)*G.CANV_SCALE
    local shader_args = {}
    local hovering = (self.hover_tilt or 0)
    shader_args[1] = { name = 'glow_intensity', val = self.ability.glow }
    shader_args[2] = { name = 'mouse_screen_pos', val = cursor_pos }
    shader_args[3] = { name = 'screen_scale', val = screen_scale }
    shader_args[4] = { name = 'hovering', val = hovering }
    self.children.center:draw_shader('fnwk_glow', nil, shader_args, false, nil, nil, nil, nil, nil, true)
end'''
match_indent = true
times = 1

# Card:draw()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if self.ability.name == 'Invisible Joker' and (self.config.center.discovered or self.bypass_discovery_center) then
    self.children.center:draw_shader('voucher', nil, self.ARGS.send_to_shader)
end'''
position = "after"
payload = '''

if self.config.center.discovered and self.ability.water_time and self.ability.water_atlas then
    local cursor_pos = {}
    cursor_pos[1] = self.tilt_var and self.tilt_var.mx*G.CANV_SCALE or G.CONTROLLER.cursor_position.x*G.CANV_SCALE
    cursor_pos[2] = self.tilt_var and self.tilt_var.my*G.CANV_SCALE or G.CONTROLLER.cursor_position.y*G.CANV_SCALE
    local screen_scale = G.TILESCALE*G.TILESIZE*(self.children.center.mouse_damping or 1)*G.CANV_SCALE
    local shader_args = {}
    local hovering = (self.hover_tilt or 0)

    shader_args[1] = { name = 'time', val = self.ability.water_time}
    shader_args[2] = { name = 'water', val = G.ASSET_ATLAS[self.ability.water_atlas].image}
    shader_args[3] = { name = 'mouse_screen_pos', val = cursor_pos }
    shader_args[4] = { name = 'screen_scale', val = screen_scale }
    shader_args[5] = { name = 'hovering', val = hovering }
    self.children.center:draw_shader('fnwk_water_mask', nil, shader_args, false, nil, nil, nil, nil, nil, true)
end'''
match_indent = true
times = 1

# Card:draw()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if self.ability.name == 'Invisible Joker' and (self.config.center.discovered or self.bypass_discovery_center) then
    self.children.center:draw_shader('voucher', nil, self.ARGS.send_to_shader)
end'''
position = "after"
payload = '''

if self.config.center.discovered and self.children.bloom then
    local cursor_pos = {}
    cursor_pos[1] = self.tilt_var and self.tilt_var.mx*G.CANV_SCALE or G.CONTROLLER.cursor_position.x*G.CANV_SCALE
    cursor_pos[2] = self.tilt_var and self.tilt_var.my*G.CANV_SCALE or G.CONTROLLER.cursor_position.y*G.CANV_SCALE
    local screen_scale = G.TILESCALE*G.TILESIZE*(self.children.center.mouse_damping or 1)*G.CANV_SCALE
    local hovering = (self.hover_tilt or 0)
    local bloom_args = {
        self.children.bloom.glow_size,
        self.children.bloom.glow_intensity,
        self.children.bloom.glow_threshold,
    }
    local shader_args = {}

    shader_args[1] = { name = 'bloom', val = bloom_args}
    shader_args[2] = { name = 'mouse_screen_pos', val = cursor_pos }
    shader_args[3] = { name = 'screen_scale', val = screen_scale }
    shader_args[4] = { name = 'hovering', val = hovering }
    self.children.bloom:draw_shader('fnwk_bloom', nil, shader_args, false, nil, nil, nil, nil, nil, true)
end'''
match_indent = true
times = 1

# Card:draw()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''elseif not self.greyed then'''
position = "at"
payload = '''elseif not self.config.center.custom_draw and not self.greyed then'''
match_indent = true
times = 1




