[manifest]
version = "1.0.0"
priority = 0

#
# Adds the features to main drawing for the title screen
#

# Game.draw()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''if G.AA_CANVAS then 
    love.graphics.push()
        love.graphics.scale(1/G.CANV_SCALE)
        love.graphics.draw(G.AA_CANVAS, 0, 0)
    love.graphics.pop()
end'''
position = "after"
payload = '''
love.graphics.setCanvas()
love.graphics.scale(G.CANV_SCALE)
love.graphics.setShader()

if G.NEON_FLASH then
    love.graphics.push()
    G.NEON_FLASH:translate_container()
    G.NEON_FLASH:draw()
    love.graphics.pop()
end'''
match_indent = true
times = 1

# Game.draw()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''for k, v in pairs(self.I.CARD) do
    if (not v.parent and v ~= self.CONTROLLER.dragging.target and v ~= self.CONTROLLER.focused.target) then
        love.graphics.push()
        v:translate_container()
        v:draw()
        love.graphics.pop()
    end
end'''
position = "after"
payload = '''if G.FNWK_TITLE_SUB then
    love.graphics.push()
    G.FNWK_TITLE_SUB:translate_container()
    G.FNWK_TITLE_SUB:draw()
    love.graphics.pop()
end'''
match_indent = true
times = 1



