[manifest]
version = "1.0.0"
priority = 0

#
# Adds a "pre_draw" context
#

# checks for acerbic fencer unlock
# set_base()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''self.base = {'''
position = "before"
payload = '''local old_id = nil
if self.base then old_id = self.base.id end'''
match_indent = true
times = 1

# set_base()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''self.base.suit_nominal_original = suit_base_nominal_original or suit.suit_nominal or 0'''
position = "after"
payload = '''if self.playing_card and not initial and old_id == 12 and self.base.id == 13 then 
    check_for_unlock({type = 'queen_to_king'})
end'''
match_indent = true
times = 1


# crazy creaking unlock
# set_base()
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''self.deck:shuffle()
self.deck:hard_set_T()'''
position = "after"
payload = '''G.GAME.jokers_sold = 0'''
match_indent = true
times = 1

# set_base()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''inc_career_stat('c_jokers_sold', 1)'''
position = "after"
payload = '''G.GAME.jokers_sold = G.GAME.jokers_sold + 1
if G.GAME.jokers_sold >= 20 then check_for_unlock({type = 'twenty_jokers_sold'}) end'''
match_indent = true
times = 1

# end_round()
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''if SMODS.saved then game_over = false end'''
position = "after"
payload = '''if SMODS.saved then 
    game_over = false
    check_for_unlock({type = 'saved_from_death'})
end'''
match_indent = true
times = 1





