[manifest]
version = "1.0.0"
priority = 10

#
# Patch for Yorick to make it consistent with other xmult jokers internally
#

# Card:set_ability()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == 'Yorick' then 
self.ability.yorick_discards = self.ability.extra.discards
end'''
position = "at"
payload = ''''''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''if self.ability.name == 'Yorick' and not context.blueprint then
    if self.ability.yorick_discards <= 1 then
        self.ability.yorick_discards = self.ability.extra.discards
        self.ability.x_mult = self.ability.x_mult + self.ability.extra.xmult
        return {
            card = self,
            delay = 0.2,
            message = localize{type='variable',key='a_xmult',vars={self.ability.x_mult}},
            colour = G.C.RED
        }
    else
        self.ability.yorick_discards = self.ability.yorick_discards - 1
        return nil, true
    end
    return
end'''
position = "at"
payload = '''if self.ability.name == 'Yorick' and not context.blueprint then
    if self.ability.extra.yorick_discards <= 1 then
        self.ability.extra.yorick_discards = self.ability.extra.discards
        self.ability.x_mult = self.ability.x_mult + self.ability.extra.xmult
        return {
            card = self,
            delay = 0.2,
            message = localize{type='variable',key='a_xmult',vars={self.ability.x_mult}},
            colour = G.C.RED
        }
    else
        self.ability.extra.yorick_discards = self.ability.extra.yorick_discards - 1
        return nil, true
    end
    return
end'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''elseif self.ability.name == 'Yorick' then loc_vars = {self.ability.extra.xmult, self.ability.extra.discards, self.ability.yorick_discards, self.ability.x_mult}'''
position = "at"
payload = '''elseif self.ability.name == 'Yorick' then loc_vars = {self.ability.extra.xmult, self.ability.extra.discards, self.ability.extra.yorick_discards, self.ability.x_mult}'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''j_yorick=           {order = 148,  unlocked = false, discovered = false, blueprint_compat = true, perishable_compat = true, eternal_compat = true, rarity = 4, cost = 20, name = "Yorick", pos = {x=5,y=8}, soul_pos = {x=5, y=9}, set = "Joker", effect = "", config = {extra = {xmult = 1, discards = 23}}, unlock_condition = {type = '', extra = '', hidden = true}},'''
position = "at"
payload = '''j_yorick=           {order = 148,  unlocked = false, discovered = false, blueprint_compat = true, perishable_compat = true, eternal_compat = true, rarity = 4, cost = 20, name = "Yorick", pos = {x=5,y=8}, soul_pos = {x=5, y=9}, set = "Joker", effect = "", config = {extra = {xmult = 1, discards = 23, yorick_discards = 23}}, unlock_condition = {type = '', extra = '', hidden = true}},'''
match_indent = true
times = 1

